.heading-site-box.only-has-heading .box--small-fl-auto {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: auto !important;
}
.heading-site-box.no-blocks .box--small-fl-auto {
    min-height: auto !important;
    padding: 65px 0;
}
@media (max-width: 768px) {
    .heading-site-box.no-blocks .box--small-fl-auto {
        padding: 30px 0;
    }
}
@media (min-width: 769px) {
    .title.h1 {
        font-size: 60px;
        letter-spacing: -2.5px;
    }
    .subtitle {
        font-size: 24px;
        color: #2d2d2d;
    }
}
.box__testimonial-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
@media (min-width: 769px) {
    .box__testimonial-header .cite {
        font-size: 24px;
        text-align: right;
        color: #2d2d2d;
    }

    .box__testimonial-header .cite span {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.7);
    }

    .box__testimonial .text-size--large  {
        font-size: 24px;
        color: #2d2d2d;
    }

    .box__testimonial .blockquote {
        margin-top: 30px;
    }
}

.testimonial-image {
    position: absolute;
    top: 0;
    left: 0;
}
@media (min-width: 769px) {
    .testimonial-site-box-content {
        padding-top: 70px;
    }
}

.video-popup-holder .js-video {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    object-position: center;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .video-popup-holder .js-video {
        width: 100%;
        height: 100%;
    }
}

.site-menu-handle.site-account-handle {
    display: flex;
}
.account-menu {
    line-height: 0;
}