.heading-site-box.only-has-heading .box--small-fl-auto {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: auto !important;
}

@media (min-width: 769px) {
    .title.h1 {
        font-size: 60px;
        letter-spacing: -2.5px;
    }
}