.heading-site-box.only-has-heading .box--small-fl-auto {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: auto !important;
}
.heading-site-box.no-blocks .box--small-fl-auto {
    min-height: auto !important;
    padding: 65px 0;
}
@media (max-width: 768px) {
    .heading-site-box.no-blocks .box--small-fl-auto {
        padding: 30px 0;
    }
}
@media (min-width: 769px) {
    .title.h1 {
        font-size: 60px;
        letter-spacing: -2.5px;
    }
    .subtitle {
        font-size: 24px;
        color: #2d2d2d;
    }
}
.box__testimonial-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
@media (min-width: 769px) {
    .box__testimonial-header .cite {
        font-size: 24px;
        text-align: right;
        color: #2d2d2d;
    }

    .box__testimonial-header .cite span {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.7);
    }

    .box__testimonial .text-size--large  {
        font-size: 24px;
        color: #2d2d2d;
    }

    .box__testimonial .blockquote {
        margin-top: 30px;
    }
}

.testimonial-image {
    position: absolute;
    top: 0;
    left: 0;
}
@media (min-width: 769px) {
    .testimonial-site-box-content {
        padding-top: 70px;
    }
}

.video-popup-holder .js-video {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    object-position: center;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .video-popup-holder .js-video {
        width: 100%;
        height: 100%;
    }
}

.site-menu-handle.site-account-handle {
    display: flex;
}
.account-menu {
    line-height: 0;
}

.newsletter-image {
    position: absolute;
    top: 0;
    right: 20px;
}

@media (max-width: 1440px) {
    .newsletter-image {
        display: none;
    }
}

.map-info-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 20px 10px;
    border-top: 1px solid #BBBBBB;
    gap: 20px;
}

.map-info-item:last-of-type {
    border-bottom: 1px solid #BBBBBB;
}

.map-info-item * {
    font-size: 24px;
    margin: 0;
    line-height: 1.1;
    letter-spacing: -3%;
}

.map-site-box .box__heading {
    width: 100%;
}

@media (min-width: 769px) {
    .map-info {
        padding-top: 30px;
    }

    .map-site-box .box__heading {
        padding-inline-end: 0;
        width: 600px;
    }

    .map-site-box .box--big:not(.box__heading) {
        width: calc(100% - 600px);
    }
}

@media (max-width: 768px) {
    .map-info-item {
        padding: 15px 0;
    }
    .map-info-item * {
        font-size: 13px;
    }
}
.stwi-image {
    position: relative;
    overflow: hidden;
}

.stwi-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.stwi-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.stwi-caption {
    font-size: 20px;
    margin: 0;
    letter-spacing: -1px;
}

.stwi-title {
    font-size: 26px;
    margin: 0;
    letter-spacing: -1px;
}

.stwi-rte {
    margin-top: 10px;
    font-size: 22px;
}

@media (min-width: 769px) {
    .box__stwi.site-box .site-box-content {
        padding-left: 20px;
    }
}

@media (max-width: 768px) {
    .stwi-header {
        padding: 10px;
    }
    
    .stwi-caption {
        font-size: 16px;
    }
    
    .stwi-title {
        font-size: 16px;
    }
    
    .stwi-rte {
        font-size: 13px;
    }

    .box__testimonial.box__stwi {
        justify-content: flex-start;
    }
}

@media (min-width: 769px) {
    .footer-content, .footer-menu {
        font-size: 18px;
        line-height: 29px;
    }
    .footer-menu {
        margin-top: 3px;
    }
    .site-footer .footer-top {
        padding: 130px calc(var(--box-big-padding) - var(--site-horizontal-padding)) !important;
    }
    .site-footer .footer-bottom {
        padding: 30px calc(var(--box-big-padding) - var(--site-horizontal-padding)) 60px !important;
    }
}

.footer-menu + .title {
    margin-top: 35px;
}

.social-links {
    display: flex;
}